html,
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  height: 100%;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

body {
  background: rgb(75, 75, 75);
  align-self: center;
  padding: 0;
  margin: 0;
}

.pad-right {
  /* border-radius: 25px; */
  background: #292929;
  /* border-color:rgb(0, 0, 0); */
  padding: 20px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Format autocomplete bits */
/* * { box-sizing: border-box; } */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

/* input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
} */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  color: rgb(0, 0, 0);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 2px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Format all the autocomplete bits */


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #686868;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #858585;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: white;
  background-color: #000000;
}


/* Player table styling */
.player-table {
  vertical-align: middle;
  font-size: 14pt;
}

/* Mayor controls and icons for voting  */
.mayor_controls {
  font-size: 12pt;
  padding-left: 10px;
}

.material-icons {
  font-size: 18px;
}

/* Gamer timer config */
.game_timer {
  font-size: 36pt;
  height: 40px;
  text-align: center;
}

.game_timer_settings:hover {
  cursor: pointer;
}

/* Voting results style */
.box-shadow-fuzz {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.voted-dead {
  color: rgb(216, 68, 68);
}

/* Question input box styling */
.question-box {
  width: 500px;
}

/* Make it visible for us old folk */
.common-font {
  font-size: 14pt;
}

.werewolf {
  color: rgb(216, 68, 68);
}

/* For the extended material icons like skip icon (stat_down_3) */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Footer placement and style for box and contents */
.footer {
  background-color: #222222;
  height: 50px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

.role_count_name {
  font-size: 12px;
  text-align: center;
  grid-area: role_name;
  padding-left: 3px;
}

.role_count {
  font-size: 20px;
  font-weight: bold;
  width: 22px;
  height: 18px;
  grid-area: role_count;
  text-align: center;
  vertical-align: center;
  padding: 1px 1px 1px 1px;
}

.role_count_plus {
  font-size: 14px;
  width: 22px;
  height: 22px;
  grid-area: role_plus;
  text-align: center;
  padding-left: 2px;
  vertical-align: center;
}

.role_count_minus {
  font-size: 14px;
  width: 22px;
  height: 22px;
  grid-area: role_minus;
  text-align: center;
  vertical-align: center;
}

.role_count_image_container {
  display: inline-block;
  /* background: white; */
  grid-area: role_image;
  width: 66px;
  height: 66px;
  border-radius: 15%;
}

.role_image {
  border-radius: 50%;
  filter: grayscale(0.5);
}

img.role_image:hover {
  transition: 0.2s;
  filter: grayscale(0);
}

.role_button {
  border-radius: 50%;
  font-size: 10px;
  width: 22px;
  height: 22px;
}

.role_button:hover {
  background-color:#ffd000;
}

.role_selection_item {
  background-color:#777777;
  border-radius: 10%;
  display: grid;
  gap: 0rem;
  grid-template-columns: 66px 22px;
  grid-template-rows: auto;
  grid-template-areas: 
    "role_image role_plus"
    "role_image role_count"
    "role_image role_minus"
    "role_name role_name";
}

.outer_role_grid {
  display: grid;
  grid-template-columns: repeat(4, 88px);
  gap: 10px;
}


.footer-contents {
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 18pt;
  /* font-weight:bold; */
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

/* Question formatting after asking */
.questions {
  font-size: 14pt;
  line-height: 1.3em;
}

/* Material design lite customizations, can probably remove maybe */
.mdl-layout__content {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 500px;
  overflow-y: scroll;
}

.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem;
}

.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mdl-dialog__actions>* {
  margin-right: 8px;
  height: 36px;
}

.mdl-dialog__actions>*:first-child {
  margin-right: 0;
}

.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width>* {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}