html,
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  height: 100%;
  color:rgb(255, 255, 255)
}

body {
  background: rgb(75, 75, 75);
  padding: 0;
  margin: 0;
}

.mdl-layout__content {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}