{% extends "_layout.html.j2" %}
{% block body %}


<div class="main">
    <br>
    <div class="game_timer">
        <div style="display: inline;" id="game_timer" class="game_timer" hidden></div>
        <div id="game_timer_settings" class="material-icons game_timer game_timer_settings" hidden
            onclick="let d = document.getElementById('timer_controls'); if (d.style.display === 'none') { d.style.display = 'block'; } else { d.style.display = 'none'; }">
            settings</div>
    </div>
    <div style="text-align: center; display: none;" id="timer_controls">
        <input style="width: 70px;" value="{{ game_timer }}" id="game_timer_input">
        <button onclick="set_timer('{{ game_id }}', document.getElementById('game_timer_input').value);
            document.getElementById('timer_controls').style.display = 'none'; ">Set timer seconds</button>
        <div id="boot_players_content" class="content">
            {% for p in players %}
            <button style="border: 0; background: none; -webkit-appearance: none;"
                onclick="boot_player('{{ game_id }}', '{{ p.sid }}')">
                <span class="material-icons" style="font-size: 14px; color: white;" title="Remove Player">close</span>
            </button> &nbsp {{ p.name }}<br>
            {% endfor %}
        </div>
    </div>
    <div id="roles" hidden></div>
    <br>
    <div id="player_info" hidden>
        <div id="players"></div>
    </div>
    <!-- TODO: Move out of the material design bits or improve ugly buttons -->
    <div style="display:inline;" id="admin_controls" hidden>
        <button onclick="send_start_req('{{ game_id }}')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="game_start">Start game</button>
        <button onclick="send_reset_req('{{ game_id }}')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="game_reset"
            hidden>Reset game</button>
    </div>
    <div style="display:inline;" id="controls" hidden>
        <!-- These two controls should be gated -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="nominate_for_mayor">Run for Mayor!</button>
        <button onclick="window.location.href='/join/{{ game_id }}'"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="join_game"
            hidden>Join Game</button>

        <div id="question_input" hidden>
            <input id="question" autocomplete="off" class="question-box" type="search" list="questions"
                placeholder="Ask a question...">
            {% if autocomplete_enabled is true %}
            <datalist id="questions">
                {% for q in common_questions %}
                <option value="{{ q }}" />
                {% endfor %}
            </datalist>
            {% endif %}
            <a href="#" id="question_submit"><img src="{{ url_for('static', filename='img/submit.png') }}"></a>
        </div>
    </div>
    <div id="mayor_display" class="mayor_controls" style="display: inline;" hidden>
        <div hidden class="mayor_controls" id="mayor_controls">
            <button onclick="undo_answer('{{ game_id }}')" class="material-symbols-outlined">undo</button>Undo last
            answer<br>
        </div>
        <div hidden class="mayor_controls" id="mayor_question">
        </div>
    </div>
    <div hidden=true id="dialog-box" class="box-shadow-fuzz pad-right">
    </div>
    <div class="questions" id="questions_div">
    </div>
</div>
<footer id="footer_role_information" class="footer">
</footer>
{% endblock %}