<table>
    {%- for player in players -%}
    <tr class="player-table">
        {% if admin_view %}
        <td>
            <button class="mdl-button mdl-js-button mdl-button--icon"
                onclick="boot_player('{{ game_id }}', '{{ player.player_sid }}')"
                title="Boot {{ player.name }}">
                <i class="material-icons">cancel</i>
            </button>
            {# <ul ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" data-mdl-for="boot-player-{{ player.name }}">
                <li class="mdl-menu__item" >Boot player to Spectate</li>
            </ul> #}
        </td>
        {% endif %}
        <td id="voting" width=30>
            {% if player.voting %}
            <img src="{{ url_for('static', filename='img/voting-white.png') }}" width="24" height="24">
            {% endif %}
        </td>
        <td class="player-table">
            <span>
                <span class="username">
                    {{ player.name }}
                </span>

                {% if player.admin %} (admin){% endif %}
                {% if player.mayor %} (mayor){% endif %}
            </span>
        </td>
        {%- if player.mayor -%}
        <td class="player-table"></td>
        {%- for t in mayor_token_count -%}
        {%- if t.token.token_text == 'Yes/No' or t.token.token_text == 'Maybe' %}
        <td class="player-table">
            <span class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ t.count }}"
                title="{{t.token.token_text}}">
                {{ t.token.token_icon }}
            </span>
        </td>
        {%- elif t.count > 0 -%}
        <td class="player-table">
            <span class="material-icons mdl-badge mdl-badge--overlap" title="{{t.token.token_text}}">
                {{ t.token.token_icon }}
            </span>
        </td>
        {%- endif -%}
        {%- endfor -%}
        {% else %}
        {%- for t in player.token_count -%}
        {%- if t.token.token_text == 'Yes' or t.token.token_text == 'No' or t.token.token_text == 'Maybe' %}
        <td class="player-table">
            <span class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ t.count }}"
                title="{{t.token.token_text}}">
                {{ t.token.token_icon }}
            </span>
        </td>
        {%- elif t.count > 0 -%}
        <td class="player-table">
            <span class="material-icons mdl-badge mdl-badge--overlap" title="{{t.token.token_text}}">
                {{ t.token.token_icon }}
            </span>
        </td>
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
    </tr>
    {%- endfor -%}
</table>
<table class="player-table">
    {%- for spectator in spectators -%}
    <tr>
        <td class="player-table">
            {{ spectator }} (Spectator)
        </td>
    </tr>
    {%- endfor -%}
</table>