<p>
Your question:
{{ question }}
</p>
<p>
Possible duplicates:
{% for q in duplicate_questions %}
<ul>{{q}}</ul>
{% endfor %}
</p>
Submit anyway?<br>
<button type="button" class="btn btn-primary close" onclick="ask_question('{{game_id}}', '{{question}}', true); close_dialog();">YES</button>
<button type="button" class="btn btn-secondary close" onclick="close_dialog()">NO</button>