{% extends "_layout.html.j2" %}
{% block body %}


<div class="main">
    <!-- TODO: Make it so the updated game_status and the dynamic status is the same. -->
    <!-- TODO: set clock to run based on the current state. -->
    <!-- TODO: Move out of the material design bits or improve ugly buttons -->
    <div id="controls">
        <div id="game_timer"></div>
        <!-- These two controls should be gated -->
        <button onclick="send_start_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="game_start">Start game</button>
        <button onclick="send_reset_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="game_reset">Reset game</button></p>
        <!-- so break them into a if game is started thing. -->
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="proper_noun" onclick="askQuestion('{{ game_id }}', 'Is it a proper noun?')" hidden>Is it a proper noun?</button></p>
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="breadbox" onclick="askQuestion('{{ game_id }}', 'Is it bigger than a breadbox?')" hidden>Is it bigger than a breadbox?</button></p>
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="nominate_for_mayor">Run for Mayor!</button></p>
        {% if DEBUG %}
        <b>DEBUGGING</b>
        <button onclick="get_game_state('{{ game_id }}')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="get_game_state">Get game state</button>
        <div>Game state: <div style="display: inline;" id="game_state">{{game_state}}</div>
        </div>
        {% endif %}
        <div>
            Question: <input type="text" id="question">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="question_submit">Submit question</button>
        </div>
        <p>
        <div style="display: inline;">Mayor tokens:
            <div id="mayor_tokens" style="display:inline;"></div>
        </div>
        </p>

        <p>
            <b>Players:</b>
            <div id="players"></div>
        </p>
    </div>
    <div id="questions_div">
        {{ question_html }}
    </div>
    <div hidden id="mayor_controls">
        <b>Mayor controls</b>
        <button onclick="undoAnswer('{{ game_id }}')"
            class="mdl-button" id="undo">Undo last answer</button>
        <button onclick="startVote('{{ game_id }}')"
            class="mdl-button" id="finish" hidden>Finish Game/Start Vote</button>
    </div>
</div>
{% endblock %}