{% extends "_layout.html.j2" %}
{% block body %}


<div class="main">
    <!-- TODO: Make it so the updated game_status and the dynamic status is the same. -->
    <!-- TODO: set clock to run based on the current state. -->
    <div id="controls">
        <div id="game_timer"></div>
        <!-- These two controls should be gated -->
        <button onclick="send_start_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="game_start">Start game</button>
        <button onclick="send_reset_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="game_reset">Reset game</button></p>
        <!-- so break them into a if game is started thing. -->
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="proper_noun" onclick="askQuestion('{{ game_id }}', 'Is it a proper noun?')" hidden>Is it a proper noun?</button></p>
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="breadbox" onclick="askQuestion('{{ game_id }}', 'Is it bigger than a breadbox?')" hidden>Is it bigger than a breadbox?</button></p>
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="nominate_for_mayor">Run for Mayor!</button></p>
        {# {% if DEBUG %} #}
        <b>DEBUGGING</b>
        <button onclick="get_game_state('{{ game_id }}')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="get_game_state">Get game state</button>
        <div>Game state: <div style="display: inline;" id="game_state">{{game_state}}</div>
        </div>
        {# {% endif %} #}
        <div>
            Question: <input type="text" id="question">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="question_submit">Submit question</button>
        </div>
        <p>
        <div style="display: inline;">Mayor tokens:
            <div id="mayor_tokens" style="display:inline;"></div>
        </div>
        </p>

        <p>
            <b>Players:</b>
            <div id="players"></div>
        </p>
    </div>
    <div id="questions_div">
        <!-- HTML provided from questions is already escaped. -->
        {% for question_object in question_list -%}
        <div>{{ question_object.player }}: {{ question_object.question }}
            <div id="q{{question_object.id}}a" style="display: inline">
                {% if question_object.answer -%}
                {{ question_object.answer }}
                {%- else -%}
                {% if player_is_mayor -%}
                <div style="display: inline">
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'yes')">Yes</button>
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'no')">No</button>
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'maybe')">Maybe</button>
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'so_close')">So Close</button>
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'so_far')">Very far off</button>
                    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, 'correct')">Correct!</button>
                </div>
                {%- endif %}
                {%- endif %}
            </div>
        </div>
        {%- endfor %}
    </div>
    <div id="controls" hidden>
        {% if player_is_mayor %}
        <b>Mayor controls</b>
        <button click="undoAnswer({{ game_id }})"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="undo">Undo
            last answer</button>
        {% endif %}
    </div>
</div>
{% endblock %}