{% extends "_layout.html.j2" %}
{% block body %}


<div class="main">
    <!-- TODO: Move out of the material design bits or improve ugly buttons -->
    <div id="game_timer" class="game_timer"></div>
    <div id="admin_controls" hidden>
        <button onclick="send_start_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="game_start">Start game</button>
        <button onclick="send_reset_req()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            id="game_reset">Reset game</button></p>
    </div>
    <div id="controls">
        <!-- These two controls should be gated -->
        <!-- so break them into a if game is started thing. -->
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="proper_noun" onclick="ask_question('{{ game_id }}', 'Is it a proper noun?')" hidden>Is it a proper
                noun?</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="breadbox" onclick="ask_question('{{ game_id }}', 'Is it bigger than a breadbox?')" hidden>Is it
                bigger than a breadbox?</button></p>
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="nominate_for_mayor">Run for Mayor!</button></p>
        <p><button onclick="window.location.href='/join/{{ game_id }}'"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="join_game" hidden>Join Game</button>
            <button onclick="window.location.href='/spectate/{{ game_id }}'"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="spectate" hidden>Spectate</button>
            <button onclick="window.location.href='/leave/{{ game_id }}'"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="leave_game">Quit Game</button>
        </p>
        <div id="question_input" hidden>
            Question: <input type="text" id="question" autocomplete="on">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                id="question_submit">Submit question</button>
        </div>
        <p>
        </p>

    </div>
    <div id="mayor_display" style="display: inline;" hidden>
        <span hidden id="mayor_controls">
            <b>Mayor controls</b>
            <button onclick="undo_answer('{{ game_id }}')" class="mdl-button" id="undo">Undo last answer</button>
            <button onclick="start_vote('{{ game_id }}')" class="mdl-button" id="finish" hidden>Finish Game/Start
                Vote</button>
        </span>
    </div>
    <div hidden=true id="dialog-box" class="box-shadow-fuzz rounded-corners">
    </div>
    <div id="player_info">
        <p>
            <b>Players:</b>
        <div id="players"></div>
        <div id="spectators"></div>
        </p>
    </div>
    <div id="questions_div">
    </div>

</div>
{% endblock %}