{% extends "_layout.html.j2" %}
{% block body %}
<form method="post" action="/create">
    <label for="game_id">Game name:</label>
    <input type="text" id="game_id" name="game_id">
    <button type="submit" class="btn btn-primary">Join</button>
</form>
<a href="/settings">
    <button class="btn btn-secondary">Settings</button>
</a>
{% endblock %}