{% extends "_layout.html.j2" %}
{% block body %}
<form method="post" action="/create">
    <label for="game_id">Game name:</label>
    <input type="text" name="game_id">
    <button type="submit" style="mdl-button mdl-js-button mdl-button--raised">Join</button>
</form>
<a href="/settings">
    <button class="mdl-button mdl-js-button mdl-button--raised">Settings</button>
</a>
{% endblock %}