<!DOCTYPE html>
<html lang="en">

<head>
    <title>Social Words</title>
</head>

<body>
    <div id="game">Not a test game board</div>
    <p>Username: <input type="text" id="username"><button id="username_change">Change username</button></p>
    <p><button type="submit" id="username_clear">Clear username</button></p>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script>
        let socket = io({ autoconnect: true });
        let username = document.getElementById('username');
        let username_clear = document.getElementById('username_clear');
        let username_change = document.getElementById('username_change');
        let question = document.getElementById('question');
        let question_submit = document.getElementById('question_submit');

        if (localStorage.getItem("username") != null) {
            username.defaultValue = localStorage.getItem("username");
        } else {
            let default_username = 'Not_a_wolf_' + Math.floor(Math.random() * 10000 % 9999);
            username.defaultValue = default_username;
            localStorage.setItem('username', default_username);
        }
        var user = username.value;
        var game_state = document.getElementById('')
        socket.on('connect', function () {
            console.log('You are like connected and stuff.');
            socket.emit('get_game_state', 'defaultgame')
        })
        socket.on('game_state', function(game_state) {
            var 
        })
        question_submit.onclick = function () {
            console.log('emitting question: ' + question.value);
            if (question.value != "") {
                socket.emit('question', '[' + user + ']: ' + question.value);
            }
        }
        username_change.onclick = function () {
            localStorage.set('username', username.value);
        }
        username_clear.onclick = function () {
            localStorage.removeItem('username');
            username.value = "";
        }
    </script>
</body>