<div>
    {{ question_object.player }}: {{ question_object.question }}
    <br>
    {% for token in tokens %}
    <button onclick="answer('{{ game_id }}', {{ question_object.id }}, '{{ token.value }}')" class="btn btn-outline-secondary btn-sm mb-1"
        title="{{ token.token_text }}">
        {{ token.token_icon }} {{ token.token_text }}
    </button> <br>
    {% endfor %}
    <button onclick="skip_question('{{ game_id }}', {{ question_object.id }})" class="btn btn-warning btn-sm"
        title="Skip">
        Skip
    </button> <br>
</div>