<div class="modal-body">
    You are a {{role}}.
</div>
<div class="modal-body">
    {{night_action_text}}
</div>
<div class="modal-footer">
    {% for c in candidates %}
    <button type="button" class="btn btn-primary close" onclick="{{js_function}}('{{game_id}}', '{{c.sid}}')">{{c.name}}</button>
    {% endfor %}
</div>