<div class="outer_role_grid">
    {% for role in roles %}
    <div class="role_selection_item">
        <!-- Card Role Art -->
        <span class="role_count_image_container">
            {%- if role.image|length -%}
            <img class="role_image"
                src="{{ url_for('static', filename='img/' + image_theme + '/' + role.image) }}"
                title="{{ role.role_description }}" alt="{{ role.role }}">
            {% endif %}
        </span>
        
        <!-- Role Title -->
        <span class="role_count_name">
            {{ role.role }}
        </span>
        
        <!-- Tarot Card Counter Controls -->
        <div class="role_count_controls">
            <button class="role_button" onclick="remove_role('{{ game_id }}', '{{ role.role }}')" title="Remove {{ role.role }}">
                &minus;
            </button>
            
            <div class="role_count" id="{{ role.role_element_id }}">
                {{ role.current_instances }}
            </div>
            
            <button class="role_button" onclick="add_role('{{ game_id }}', '{{ role.role }}')" title="Add {{ role.role }}">
                &plus;
            </button>
        </div>
    </div>
    {% endfor %}
</div>