<div class="mdl-dialog__content">
    {{voting_text}}
</div>
<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    {% for c in candidates %}
    <button type="button" class="mdl-button close" onclick="votePlayer('{{game_id}}', '{{c}}')">{{c}}</button>
    {% endfor %}
</div>
<div class="mdl-dialog__content">
  Players needing to vote: {% for v in voting_players %} {{v}}, {% endfor %}
</div>