<span class="mdl-dialog__content">
    <span>
    <b>
    Your role is {{player_role}}
    </b>
    </span>
    <span>
    {% if image|length %}<img src="{{ url_for('static', filename='img/' + image) }}"
            title="{{role_description}}" width="24" height="24"><br> {% endif %}
    </span>
</span>
<div class="mdl-dialog__content">
    Select a word:
</div>
<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    {% for w in words %}
    <button type="button" class="mdl-button close" onclick="send_word('{{game_id}}', '{{w}}')">{{w}}</button>
    {% endfor %}
</div>